/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: white;
  background-image: url("https://i.pinimg.com/originals/ec/5d/e5/ec5de5ff957a0a861ac59a0036261d5c.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  body {
    background-image: none;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 5%;
  background-color: rgba(100, 68, 68, 0.5);
}
h1 {
  font-size: 4rem;
  color: #4d2f1b;
  font-family: 'Shadows Into Light', cursive;
}
nav {
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
a:hover {
  color: #4d2f1b;
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-apart;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
}
.main .title {
  font-size: 3rem;
  color: #556e3c;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Shadows Into Light', cursive;
  padding: 5px;
  line-height: 150%;
}
.About {
  margin-right: 30%;
  width: 20%;
  line-height: 100%;
  font-family: 'Pangolin', cursive;
  align-self: flex-start;
  font-size: 1.2rem;
  color: #4d2f1b;
  background-color: rgba(39, 28, 26, 0.15);
}
@media (max-width: 500px) {
  .About {
    line-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.example-profile {
  margin-left: 30%;
  background-color: rgba(39, 28, 26, 0.15);
  width: 20%;
  font-family: 'Pangolin', cursive;
  text-align: center;
  align-self: flex-end;
}
.example-profile .color {
  filter: sepia(50%);
  transition: all 1s ease;
}
.example-profile .color:hover {
  filter: sepia(0%);
  -webkit-filter: sepia(0%);
  filter: none;
  transition: 1s ease;
}
@media (max-width: 500px) {
  .example-profile {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
}
footer {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  color: #4d2f1b;
  width: 100%;
  background-color: rgba(100, 68, 68, 0.5);
  font-family: 'Shadows Into Light', cursive;
}
footer button {
  background-color: rgba(85, 110, 60, 0.84);
  font-size: 1.5rem;
  border-radius: 15px 50px;
}
footer button:hover {
  background-color: eggshell;
}
